/* STYLE CSS ---------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

*{
     margin: 0;
     padding: 0;
     outline: none;
     border: none;
     text-decoration: none;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
     overflow: hidden;
}


body{
     background: rgb(238, 238, 238);
}
nav{
     position: absolute;
     top: 0;
     bottom: 0;
     height: 100%;
     background: #fff;
     left: 0;
     width: 90px;
     overflow: hidden;
     transition: 0.2s linear;
     box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
     z-index: 100;
}

.usuario {
     text-align: center;
     display: block;
     transition: all 0.5s ease;
}

.img-fundo img {
position: relative;
  height: 100vh;
  width: 2500px;
  opacity: 70%;
}


.usuario img{
     width: 70%;
     height: 100%;
     border-radius: 50%;
}
.usuario span{
     font-weight: bold;
     font-size: 18px;
     padding: 15px; 
     text-transform: uppercase;

}

a{
     color: black;
     font-size: 14px;
     display: table;
     width: 300px;
     padding: 5px;
     position: relative;
}

.fas{
     width: 70px;
     top: 20px;
     font-size: 20px;
     text-align: center;
}

.padding-icon {
     padding: 10%;
}



.item-nav{
     position: relative;
     margin-left: 10px;

}
.nav-titulo{
     display: block;
}

.nav-subtitulo{
     display: block;
     margin-top: 15px;
}

a:hover{
     background: rgb(225, 151, 13);
     color:white;
}

nav:hover{
     width: 280px;
     transition: all 0.5s ease;
}

.logout{
    position: absolute;
    bottom: 0;
    padding: 5%;

}


/* CONTEUDO ---------------------------------------------------------------*/


.content {
     display: flex;
     justify-content: center;
     align-items: center;
}


.content-quadrado {
     position: absolute;
     border-radius: 10px;
      height: 80%;
     width: 50%;
     box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
     background-color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;

}

.content-tittle{
     display: inline-block;

     
}

.content-container{
     margin-left: 170px;

}

.content-tittle h1{
     font-weight: 700;
     
}

.content-tittle h3{
     font-weight: 100;
     margin-left: 35px;
     
}

.buttons{
     display: flex;
     flex-direction: column;
     padding: 15px;
}

.buttons button {
     padding: 20px;
     margin-top: 10px;
}

.buttons h2 {
     font-weight: 300;
}

.buttons button:hover{
     background: rgb(225, 151, 13);
     color: white;
}

.buttons-space {
     margin-top: 50px;
     display: flex;
     justify-content: space-between;
     align-items: center;

}

.buttons-space button {
     margin-left:100px;
     margin-right: 100px;
     padding: 20px;
     height: 60px;
     width: 200px;
}

.buttons-space h2 {
     font-weight: 300;
}

.buttons-space button:hover{
     background: green;
     color: white;
}

.buttons-space2 button:hover{
     background: red;
     color: white;
}

.content-p h3{
     padding: 15px;
     margin-left:40%;
     font-size: 15px;
     font-weight: 100;
     opacity: 50%;
}

