/* Css da tela de login */
*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
html{
    overflow-y:hidden;
}
body{
    background-image: url(../Imagens/fundoLg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.coluna1{
    position: relative;
    background-color: rgba(255, 255, 255, 0.17);
    width: 30%;
    height: 100vh;
    float: left;
    margin-left: -8px;
    
    box-shadow: 2px rgba(0, 0, 0, 2);
}

.coluna1 #teste{
    margin-top: -30%;
}
.imagem{
    margin-left: 85px;
    position: relative;

}

.coluna2{
    background-color: rgb(255, 255, 255,0.8);
    float: left;
    height: 100vh;
    margin-top: -10px;
    margin-bottom: -10px;
    width: 1px;
    
}

.coluna1 h1{
    text-align: center;
    margin-top: 50%;
}
form{
    width: 100%;
}

input{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 50px;
}
.fa{
    position:absolute;
    top: 100px;
    right: 500px;
}

.login_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login_senha{
    height: 48px;
    box-sizing: border-box;
    padding-left: 8px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: none;
    color: white;
}

span{
    margin-left: 100px;
}
