
img{
  width: 100%;
  height: 100%;
}
/* STYLE CSS ---------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

*{
     margin: 0;
     padding: 0;
     outline: none;
     border: none;
     text-decoration: none;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
     overflow: hidden;
}


body{
     background: rgb(238, 238, 238);
}
nav{
     position: absolute;
     top: 0;
     bottom: 0;
     height: 100%;
     background: #fff;
     left: 0;
     width: 90px;
     overflow: hidden;
     transition: 0.2s linear;
     box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
     z-index: 100;
}

.usuario {
     text-align: center;
     display: block;
     transition: all 0.5s ease;
}

.img-fundo img {
position: relative;
  height: 100vh;
  width: 2500px;
  opacity: 70%;
}


.usuario img{
     width: 70%;
     height: 100%;
     border-radius: 50%;
}
.usuario span{
     font-weight: bold;
     font-size: 18px;
     padding: 15px; 
     text-transform: uppercase;

}

a{
     color: black;
     font-size: 14px;
     display: table;
     width: 300px;
     padding: 5px;
     position: relative;
}

.fas{
     width: 70px;
     top: 20px;
     font-size: 20px;
     text-align: center;
}

.padding-icon {
     padding: 10%;
}



.item-nav{
     position: relative;
     margin-left: 10px;

}
.nav-titulo{
     display: block;
}

.nav-subtitulo{
     display: block;
     margin-top: 15px;
}

a:hover{
     background: rgb(225, 151, 13);
     color:white;
}

nav:hover{
     width: 280px;
     transition: all 0.5s ease;
}

.logout{
    position: absolute;
    bottom: 0;
    padding: 5%;

}


/* CONTENT ---------------------------------------------------------------*/
.content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .context{
    margin-left: 10%;
    justify-content: left;
    align-items: left;
    
  }
  .context h1{
    display: block;
    font-size: 50px;
    margin-top: 320px;
  }
  .context h2{
    display: block;
    margin-top: 20px;
    color: grey;
    font-weight: 300;
  }
  .context h3{
    display: block;
    margin-top: 40px;
    font-size: 25px;
  }
  .context h4{
    display: block;
    margin-top: 40px;
    color: rgb(78, 77, 77);
    font-weight: 400;
  }
  
  .btns button{
    background-color: orange; /* Green */
    border: none;
    height: 60px;
    width: 25%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-left: 15%;
    cursor: pointer;
  
  }
  .btns-2 button{
    background-color: orange; 
    border: none;
    height: 60px;
    width: 20%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
    margin-left: 75%;
    cursor: pointer;
    font-weight: 200;
  }
  
  .content-quadrado {
    position: absolute;
    width: 100%;
    height: 300px;
    left: 80px;
    top: -10px;
  }
  
  .content-tittle{
    margin-left: 33%;
  padding : 30px;
  
  }
  
  .content-tittle h1{
    font-weight: 700;
  }
  
  .content-sub {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
  }
  
  .content-sub h2{
    font-style: italic;
  font-weight: 500;
  }
  
  
  .btns button:hover{
    background: rgb(2, 201, 2);
    color: white;
  }

